<% include ../head %>

<h2 style = "text-align: center;"><%= entry.slug %></h2>
<p style = "color: white; font-size: 20px; font-family:'Comic Sans', Arial; text-align:center;"><textarea rows="50" cols="50"><%= entry.body %></textarea></p>

<% include ../footer %>
