<% include ../head %>
<form style = "text-align:center;" action="/entries/<%= id %>" method='POST'>
<label name="slug">Title</label>
<input type="text" name="slug" value="<%= entry.slug %>">
<br />
<label name="body">Entry</label>
<textarea rows="10" cols="25" name="body" value="<%= entry.body %>">
<br />
<input type="submit">
</form>

<% include ../footer %>
