<% include head %>
<p><h1><%= title %></h1></p>
<img src = "http://www.lolpix.com/_pics/Funny_Pictures_907/Funny_Pictures_90715.jpg" alt = "Smart Baby"
style = "width:200px; height:200px;">
<% include footer %>
