<% include head %>
<p><h1><%= title %></h1></p>
<p style ="text-align:center;">
  <img src = "http://www.lolpix.com/_pics/Funny_Pictures_907/Funny_Pictures_90715.jpg" alt = "Smart Baby" style = "width:400px; height:400px;">
</p>
<% include footer %>
