<% include head %>
<form style = "text-align:center;" action ='/login' method = 'POST'>
  Username: <input type = "text" name = 'email' />
  <br />
  Password: <input type = "password" name = 'password' />
  <br />
  <input type = "submit">
</form>
<% include footer %>
